
/* Warning boxes */
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-top: 0px;
        margin-bottom: 0;
        display: block;
        z-index: 6;
        
    }

.alert.success {background-color: #4CAF50;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* Basic */

    #skel-layers-wrapper{
        margin: 0 auto 0 auto;
    }
    
    .categoryRight {
        
    }

    .HeaderName{
        padding-left: 15px;
    }

	body, input, select, textarea {
		font-size: 12pt;
	}

	h2 {
		font-size: 1.25em;
		line-height: 1.5em;
	}

	h3 {
		font-size: 1.1em;
		line-height: 1.5em;
	}

	h4 {
		font-size: 1em;
		line-height: 1.5em;
	}

/* Section/Article */

	header h2 + p {
		font-size: 1em;
		margin-top: -0.85em;
		line-height: 1.5em;
	}

	header h3 + p {
		font-size: 1em;
		margin-top: -0.85em;
		line-height: 1.5em;
	}

	header.major h2 {
		font-size: 1.5em;
	}

	header.major p {
		margin: -1em 0 2.5em 0;
	}

/* List */
	ul.icons li {
		padding: 0 0.75em 0 0;
	}

		ul.icons li .icon {
			font-size: 0.9em;
		}

/* Button */
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		font-size: 0.8em !important;
	}

/* Box */
	.box.post {
		max-width: 23em;
	}

/* Slider */

	.slider .viewer {
		border-width: 0.5em;
	}

/* Wrapper */
	.wrapper {
		padding: 1em 1em 1em 1em;
	}

/* Banner */

	#banner {
		padding: 5em 2em 4em 2em;
	}

		#banner h2 {
			font-size: 2em;
		}

		#banner p {
			font-size: 1.1em;
		}

/* Main */

	#main > header {
		padding: 0 2em;
	}

	#main > .container {
		padding: 2em 1em;
	}

	#content > .image.fit:first-child {
		margin: -2em 0 2em -1em;
		width: calc(100% + 2em);
	}

		#content > .image.fit:first-child img {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}

/* CTA */

	#cta {
		padding: 2em 0;
	}

/* Footer */

	#footer {
		padding: 2em 0;
	}

		#footer .icons {
			margin: 0 0 2em 0;
		}

/* SideBar button */
    .openSideBar {
            height: auto;
            position: absolute;
            top: 260px;
    }

    .openSideBar span {
        background: rgba(103, 107, 113, 0.75);
        border-radius: 0.5em;
        color: #fff;
        content: '\f0c9';
        display: block;
        font-size: 18px;
        height: 2.25em;
        left: 0.5em;
        line-height: 2.25em;
        text-align: center;
        width: 3.5em;
        cursor:pointer;
    }

/* Sidebar actions */

    .leftBar{
        width: 0;
        height: 0;
        visibility: hidden;
    }

    .sidenav{
        text-align: right;
        border-style: none;
    }
    
/*line breaking */

    .rwd-break{
        display: block;
    }

/* Work in progress */